BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: Empty
AllowShortBlocksOnASingleLine: Never
BreakBeforeBraces: Attach
SpaceAfterCStyleCast: true
SpaceBeforeParens: ControlStatements
Standard: c++20
